
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success my-3">{{ button_label|default('Enregistrer') }}</button>
    {# TODO INSERER {{ new.picture.path }} dans le  Formulaire #} 
{{ form_end(form) }}
