{% extends 'backoffice.html.twig' %}

{% block title %}Gestion des publications{% endblock %}

{% block main %}
    <h1>Liste des publications</h1>   

    {% include '_flash_messages.html.twig' %}
    
    <a href="{{ path('app_event_new') }}">
        <button class="btn btn-success" type="button">Créer une nouvelle publication</button>
    </a>  

    {% for news in allNews %}
        <main class="container mt-5 mb-5">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-6">
                    <div class="card cardevent">
                        <div class="d-flex justify-content-between p-2 px-3 border-bottom">                
                            <p class="mr-2 d-block text-right w-100 fs-3 m-0">{{ news.publishedAt ? news.publishedAt|date('d/m/Y') : '' }}</p>
                        </div> 
                            
                        {% for picture in news.pictures %}
                            <img src="{{ asset('assets/images/' ~ picture.path)}}"  class="img-fluid">
                        {% endfor %}  

                        <div class="p-2">
                            <h4>{{ news.title }}</h4>
                            <p class="text-justify">{{ news.content }}</p>
                            <hr>  
                            {% if news.isHomeEvent == 1 %}
                                <a href="{{ path('app_event_edit', {'id': news.id}) }}">
                                    <i class="bi bi-star-fill stars"></i>
                                </a>  
                            {% endif %}
                    
                            <a class="btn btn-warning" href="{{ path('app_event_edit', {'id': news.id}) }}">Modifier</a>

                            {% if is_granted('ROLE_ADMIN') %}
                                {{ include('event/_delete_form.html.twig') }}
                            {% else %}
                                <a class ="btn btn-secondary my-2" href="">Bouton de suppression désactivé</a>
                            {% endif %}

                            <hr>
                        </div> 
                    </div>
                </div>
            </div>
        </main>
    {% endfor %}
{% endblock %}